body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color:black;
}

* {
  box-sizing: border-box;
}

.Checkout.is-desktop .Header-logoBorder {
  background-color: white;
}

.Checkout.is-desktop .Header-logoImage:not(.not) {
  margin-left: 0px;
  border-radius: 20%;
  transform:scale(.8);
}
